/**
 * Site header
 */
.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #275da1;
    font-family: $base-font-family;

}

.site-title {
    letter-spacing: -1px;
    font-size: 72px;
    line-height: 1;
    margin-bottom: 0.2em;
    width: 540px;
    
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: #fff;
        text-decoration: none;
    }
}


.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-family: $base-font-family;
        line-height: $base-line-height;
        font-weight: bold;
        
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
.ddmenu{
	display:block;
	width:100%;
	margin:0 auto;
	padding:0 15px;
	cursor:default;
	outline:none;
}

.ddmenu-root {
	display:block;
	position:relative;
	float:left;
	text-decoration:none;
	
	&:hover>a,
	&:hover>span {
		color:#fff;
		text-shadow: -1px -1px 0px #327dd0,
		             -1px 1px 0px #327dd0,
		             1px -1px 0px #327dd0,
		             1px 1px 0px #327dd0;
	}
}

.ddmenu-root li{
	display:block;
	position:relative;
	float:left;
	text-decoration:none;
	
	&:hover>a {
		color:#ccd;
	}
}
.ddmenu-root-link {
	float:left;
	font-weight:bold;
	padding:0 12px;
	
    &,
    &:link,
    &:visited,
    &:active {
        color: #ccd;
        text-decoration: none;
    }
}

.selected-category {
	font-size:30px;
}

.ddmenu-root ul li a{
	width:100%;
	display:block;
	float:left;
	text-align:left;
	padding:0 12px;
	font-weight:bold;
	text-decoration:none;
	color:#327dd0;
}

.ddmenu-root ul li:hover>a{
	color:#7180a0;
	background:#d9e2ee;
}

.ddmenu-root ul{
	position:absolute;
	top:50px;
	width:130px;
	background:#fff;
	display:none;
	margin:0;
	padding:7px 0;
	list-style:none;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.2);
	box-shadow:0 0 5px rgba(0,0,0,0.2);
}

.ddmenu-root ul:after{
	content:"";
	width:0;
	height:0;
	position:absolute;
	bottom:100%;
	left:8px;
	border-width:0px 8px 8px 8px;
	border-style:solid;
	border-color:#fff transparent;
}

.ddmenu-root ul:before{
	content:"";
	width:0;
	height:0;
	position:absolute;
	bottom:100%;
}

.ddmenu-root ul li{
	display:block;
	width:116px;
	text-shadow:1px 1px 0 #fff;
}

.ddmenu-root ul li a{
	display:block;
	width:100%;
	padding:6px 7px;
	line-height:1.5em;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
